{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="">
		<meta name="author" content="Ann Keenan, Catherine Badart, Luke Duane, Michael Sills">
		<title>{% block title %}{% endblock %}</title>
		<!-- Bootstrap core CSS-->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Custom fonts for this template-->
		<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">
		<!-- Custom styles for this template-->
		<link rel="stylesheet" href="{% static 'css/sb-admin.css' %}">
		<link rel="stylesheet" href="{% static 'css/podcasts.css' %}">
		{% block css %}
		{% endblock %}
	</head>

<body class="fixed-nav" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <img src="{% static 'img/circle_logo_lightblue.png' %}" id="logo" alt="orca logo">
	<a class="navbar-brand" href="{% url 'home'%}">PodLife</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
	  {% block sidebar %}
	  {% endblock %}
      <ul class="navbar-nav ml-auto">
		<li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}">New Podcast</a>
        </li>
        <li class="nav-item dropdown">
			{% if user.is_authenticated %}
			  <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}
			  </a>
			  <div class="dropdown-menu" aria-labelledby="ProfileDropdown">
				<a class="dropdown-item" href="{% url 'profile' %}">View Profile</a>
				<a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
			  </div>
			{% else %}
				<a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Login
			    </a>
				<div class="dropdown-menu" aria-labelledby="ProfileDropdown">
					<a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{% if request.path == '/logout/' %}{% url 'login' %}{% else %}{% url 'login' %}?next={{request.path}}{% endif %}">Login</a>
				</div>
			{% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
  </div>

    <footer>
      <div class="container">
        <div class="text-center">
			<p>
			Final Project &copy; Group 9
			
			Ann Keenan, Catherine Badart, Luke Duane, Michael Sills
			</p>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.js' %}"></script>
	<script src="{% static 'js/podcasts.js' %}"></script>
	{% block js %}
	{% endblock %}
</body>

</html>
