{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
	<h2>Podcasts</h2>
	<hr>
	<div class="row text-right">
		<div class="form-group">
			<form method="get" action="">
    		<div class="col-xs-8 col-sm-9 search-bar">
      		<p><input type="text" placeholder="Search podcast titles" class="form-control" value="{{ titlefilter }}" name="titlefilter"/></p>
				</div>
				<div class="col-xs-4 col-sm-3">
					<p><input type="submit" class="btn btn-default btn-block" value="Search" name="search"/></p>
				</div>
			</form>
    </div>
  </div>
	<div class="row">
		<div class="col-xs-8 col-sm-9">
			{% if podcasts %}
				{% for podcast in podcasts %}
					{% if forloop.first %}<div class="row">{% endif %}
					<div class="col-sm-4 podcasts">
					<a class="list-group-item podcast" href="/podcast/{{podcast.slugfield}}/">
						<small class="list-group-item-text">
							Posted on <span>{{podcast.created.date}}</span><br>
							by <span>{{podcast.author}}</span>
						</small>
						<h4 class="list-group-item-heading"> {{podcast.title}}</h4>
						<p class="list-group-item-text" style="word-wrap: break-word;"> {{podcast.content | slice:":125"}}...</p>
					</a>
					</div>
					{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
					{% if forloop.last %}</div>{% endif %}
				{% endfor %}
			{% else %}
				<p>No existing podcasts &#8594; <a href="{% url 'create' %}">Create a podcast</a></p>
			{% endif %}
		</div>
		<div class="col-xs-4 col-sm-3">
			<form method="get">
				<p><input type="submit" value="Clear" class="btn btn-default btn-block"/></p>
				{% for topic in topics %}
					<button class="tag" name="topicfilter" value="{{topic.topic}}" type="submit">{{ topic.topic }}</button>&nbsp;
				{% endfor %}
			</form>
		</div>
</div>
{% endblock %}
