{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Content Management{% endblock %}

{% block css %}
{% endblock %}

{% block sidebar %}
<ul class="navbar-nav navbar-sidenav">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Upload">
    <a class="nav-link" href="{% url 'create_topic' %}">
      <i class="fa fa-fw fa-plus"></i>
      <span class="nav-link-text">Create a Pod</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Statistics">
    <a class="nav-link" href="{% url 'manage_topics' %}">
      <i class="fa fa-fw fa-folder-open"></i>
      <span class="nav-link-text">Manage Pods</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Statistics">
    <a class="nav-link" href="#">
      <i class="fa fa-fw fa-film"></i>
      <span class="nav-link-text">Manage Content</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Statistics">
    <a class="nav-link" href="/admin/auth/user/">
      <i class="fa fa-fw fa-users"></i>
      <span class="nav-link-text">Manage Users</span>
    </a>
  </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-left"></i>
    </a>
  </li>
</ul>
{% endblock %}

{% block body %}
  <div class="content-wrapper">
    <div class="container-fluid content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block js %}
{% endblock %}