{% extends "layouts/base.html" %}
{% load staticfiles %}
{% block title %}Content Management{% endblock %}

{% block css %}
{% endblock %}

{% block sidebar %}
<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <a class="nav-link" href="{% url 'stats' %}">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">Statistics</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="MyPodcasts">
    <a class="nav-link" href="{% url 'profile' %}">
      <i class="fa fa-fw fa-user"></i>
      <span class="nav-link-text">Profile</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CreatePodcast">
    <a class="nav-link" href="{% url 'create' %}">
      <i class="fa fa-fw fa-plus"></i>
      <span class="nav-link-text">Create Podcast</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
    <a class="nav-link" href="{% url 'password_change' %}">
      <i class="fa fa-fw fa-cog"></i>
      <span class="nav-link-text">Settings</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Logout">
    <a class="nav-link" href="{% url 'logout' %}">
      <i class="fa fa-fw fa-sign-out"></i>
      <span class="nav-link-text">Logout</span>
    </a>
  </li>
</ul>
<ul class="navbar-nav sidenav-toggler">
  <li class="nav-item">
    <a class="nav-link text-center" id="sidenavToggler">
      <i class="fa fa-fw fa-angle-left"></i>
    </a>
  </li>
</ul>
{% endblock %}

{% block body %}
  <div class="content-wrapper">
    <div class="container-fluid content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block js %}
{% endblock %}