#background{
	height: 600px;
	background: url('../img/pod.jpg') no-repeat center fixed;
	background-size: cover;
}
#welcome{
	margin-top: 100px;
	text-align: center;
	color: white;
}
#logo{
	height: 50px;
	padding-right: 10px;
}
#signupbtn{
	width: 107px;
}
#about{
	padding: 15px;
}