{% extends "admin_panel.html" %}
{% block title %}Manage Pods{% endblock %}

{% block content %}
<div class="container-fluid">
  <h2>Manage Pods</h2>
  <hr>
  {% if topics %}
    {% for topic in topics %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ topic.topic }}</h2>
          <small><em class="text-muted">{{ topic.num_podcasts }} podcasts</em></small>
          <small><em class="text-muted">{{ topic.num_subscribers }} subscribers</em></small>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No pods</p>
  {% endif %}
</div>
{% endblock %}
