{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block body %}
<div class="container body">
	<h2>Trending Now</h2>
	<hr>
	<div class="row">
		<!-- Podcast List Column -->
		<div class="col-md-8">
			{% if podcasts %}
				{% for podcast in podcasts %}
				<div class="row">
					<!-- Upvote/Downvote Column -->
					<div class="col-md-1 vote-col">
						<div class="vote-group">
							<a href="" class="vote-arrow"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
							<h3 style="margin-bottom: 0px;">0</h3>
							<a href="" class="vote-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
						</div>
					</div>
					<!-- Card Column -->
					<div class="col-md-11">
						<div class="card mb-4">
							<div class="card-header text-muted">
								Posted on {{ podcast.created.date }} by
								<a href="/user/{{ podcast.author }}">{{ podcast.author }}</a> in
								<a href="/topic/{{ podcast.topic.topic }}">{{ podcast.topic.topic }}</a>
							</div>
							<div class="card-body">
								<h2 class="card-title">{{ podcast.title }}</h2>
								<p class="card-text">
									{% if podcast.description %}
										{{ podcast.description | slice:":125" }}
										{% if podcast.description|length > 125 %}
											...
										{% endif %}
									{% endif %}</p>
								<a href="/podcast/{{podcast.slugfield}}/" class="btn btn-secondary">Listen Now</a>
							</div>
							<div class="card-footer text-muted">
								{{ podcast.views }} views |
								{{ podcast.num_upvotes }} upvotes |
								{{ podcast.num_comments }} comments |
								{{ podcast.num_favorites }} favorites
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			{% else %}
			<p>No podcasts found</p>
			{% endif %}
		</div>
		<!-- Sidebar widgets -->
		<div class="col-md-4">
			<!-- Search widget -->
			<div class="card mb-4">
				<h5 class="card-header">Search</h5>
				<div class="card-body">
					<div class="form-group">
						<form method="get" action="">
							<div class="input-group">
								<input type="text" placeholder="Search titles" class="form-control" value="{{ titlefilter }}" name="titlefilter">
								<span class="input-group-btn">
                  <button type="submit" class="btn btn-secondary" value="Search" name="search">Search</button>
                </span>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Categories widget -->
			<div class="card mb-4">
				<h5 class="card-header">Pods</h5>
				<div class="card-body">
					<div class="row">
					{% for topic in topics %}
						<div class="col-sm-6">
							<a class="btn btn-link" href="/topic/{{topic.topic}}">{{ topic.topic }}</a>
						</div>
						{% if forloop.last %}
					</div>
						{% elif forloop.counter|divisibleby:2 %}
					</div>
					<div class="row">
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
