{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}

{% block body %}
<div class="container body">
  <h2> {% if podcasts %}
        {{ podcasts.first.author }}
       {% endif %}
  </h2>
  <hr>
  <div class="row">
    <!-- Podcast List Column -->
    <div class="col-md-8">
      {% if podcasts %}
        {% for podcast in podcasts %}
        <div class="card mb-4">
          <img class="card-img-top" src="#" alt="image for {{ podcast.title }}">
          <div class="card-body">
            <h2 class="card-title">{{ podcast.title }}</h2>
            <p class="card-text">{% if podcast.description %}
                {{ podcast.description | slice:":125" }}
                {% if podcast.description|length > 125 %}
                  ...
                {% endif %}
              {% endif %}</p>
            <a href="/podcast/{{podcast.slugfield}}/" class="btn btn-primary">Listen Now</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ podcast.created.date }} by
            <a href="/user/{{ podcast.author }}">{{ podcast.author }}</a>
            <a href="/topic/{{ podcast.topic.topic }}">{{ podcast.topic.topic }}</a>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>No podcasts found</p>
      {% endif %}
    </div>
    <!-- Sidebar widgets -->
    <div class="col-md-4">
      <button type="submit" class="btn btn-secondary" value="Subscribe" name="subscribe">Subscribe</button>
      <!-- Search widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="form-group">
            <form method="get" action="">
              <div class="input-group">
                <input type="text" placeholder="Search titles" class="form-control" value="{{ titlefilter }}" name="titlefilter">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-secondary" value="Search" name="search">Search</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Categories widget -->
      <div class="card my-4">
        <h5 class="card-header">Pods</h5>
        <div class="card-body">
          <div class="row">
            {% if topics %}
              {% for topic in topics %}
                {% if forloop.first %}
                  <div class="col-sm-4">
                {% endif %}
                <button class="btn btn-link" name="topicfilter" value="{{topic.topic}}" type="submit">{{ topic.topic }}</button>
                {% if forloop.counter|divisibleby:3 %}
                  </div>
                  <div class="col-sm-4">
                {% endif %}
                {% if forloop.last %}
                  </div>
                {% endif %}
              {% endfor %}
            {% else  %}
              <p>No Pods</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
