{% extends "base.html" %}
{% block title %}{{ topic.topic }}{% endblock %}

{% block body %}
<div class="container body">
	<h2>
    {{ topic.topic }}
    {% if user.is_authenticated %}
      {% if subscribed %}
				<button type="submit" class="btn btn-secondary pull-right" value="subscribe" name="unsubscribe">Unsubscribe</button>
      {% else %}
				<button type="submit" class="btn btn-secondary pull-right" value="subscribe" name="subscribe">Subscribe</button>
      {% endif %}
    {% endif %}
  </h2>
	<hr>
  <p>{{ topic.description }}</p>
  <small class="text-muted">
    <p>{{ topic.num_subscribers }} subscribers</p>
    <p>{{ topic.num_podcasts }} podcasts</p>
  </small>
  <hr>
	{% if podcasts %}
		{% for podcast in podcasts %}
		<div class="card mb-4">
			<div class="card-header text-muted">
				Posted on {{ podcast.created.date }} by
				<a href="/user/{{ podcast.author }}">{{ podcast.author }}</a>
			</div>
			<div class="card-body">
				<h2 class="card-title">{{ podcast.title }}</h2>
				<p class="card-text">
					{% if podcast.description %}
						{{ podcast.description | slice:":125" }}
						{% if podcast.description|length > 125 %}
							...
						{% endif %}
					{% endif %}
        </p>
				<a href="/podcast/{{podcast.slugfield}}/" class="btn btn-secondary">Listen Now</a>
			</div>
			<div class="card-footer text-muted">
				{{ podcast.views }} views |
				{{ podcast.num_upvotes }} upvotes |
				{{ podcast.num_comments }} comments |
				{{ podcast.num_favorites }} favorites
			</div>
		</div>
		{% endfor %}
	{% else %}
	<p>No podcasts found</p>
	{% endif %}
</div>
{% endblock %}
