{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}

{% block body %}
<div class="container body">
  <h2>
    {{ username }}
    {% if is_self == False %}
      {% if user.is_authenticated %}
          {% if subscribed %}
            <a href="/userunsubscribe/{{ username }}/{{ user.id }}" class="btn btn-secondary pull-right" value="subscribe" name="unsubscribe">Unsubscribe</a>
          {% else %}
            <a href="/usersubscribe/{{ username }}/{{ user.id }}" class="btn btn-secondary pull-right" value="subscribe" name="subscribe">Subscribe</a>
          {% endif %}
      {% endif %}
    {% endif %}
  </h2>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h4>Uploaded Podcasts</h4>
      <hr>
      {% if podcasts %}
      	{% for podcast in podcasts %}
        <div class="card mb-4">
          <div class="card-header text-muted">
            Posted on {{ podcast.created.date }} in
            <a href="/topic/{{ podcast.topic.topic }}">{{ podcast.topic.topic }}</a>
          </div>
          <div class="card-body">
            <h2 class="card-title">{{ podcast.title }}</h2>
            <p class="card-text">
              {% if podcast.description %}
                {{ podcast.description | slice:":125" }}
                {% if podcast.description|length > 125 %}
                  ...
                {% endif %}
              {% endif %}
            </p>
            <a href="/podcast/{{podcast.slugfield}}/" class="btn btn-secondary">Listen Now</a>
          </div><!--/.card-body-->
          <div class="card-footer text-muted">
            {{ podcast.views }} views |
            {{ podcast.num_upvotes }} upvotes |
            {{ podcast.num_comments }} comments
          </div><!--/.card-footer-->
        </div><!--/.card-->
      	{% endfor %}
      {% else %}
        No uploaded podcasts
      {% endif %}
    </div>
    <div class="col-sm-6">
      <h4>Subscriptions</h4>
      <hr>
      {% if usersubs or topicsubs %}
        {% if usersubs %}
          <h5>Users</h5>
          {% for sub in usersubs %}
            <a href="/user/{{ sub.creator }}">{{ sub.creator }}</a><br>
          {% endfor %}
        {% endif %}
        {% if topicsubs %}
        <h5>Topics</h5>
        {% for sub in topicsubs %}
          <a href="/topic/{{ sub.pod.topic }}">{{ sub.pod.topic }}</a><br>
        {% endfor %}
      {% endif %}
    {% else %}
      No subscriptions
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
