{% extends "base.html" %}
{% block title %}Profile Page{% endblock %}

{% block body %}
<div class="container body">
  <h2>
    {{ username }}
    {% if is_self == False %} 
      {% if user.is_authenticated %}
          {% if subscribed %}
            <a href="/userunsubscribe/{{ username }}/{{ user.id }}" class="btn btn-secondary pull-right" value="subscribe" name="unsubscribe">Unsubscribe</a>
          {% else %}
            <a href="/usersubscribe/{{ username }}/{{ user.id }}" class="btn btn-secondary pull-right" value="subscribe" name="subscribe">Subscribe</a>
          {% endif %}
      {% endif %}
    {% endif %}
  </h2>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h4>Uploaded Podcasts</h4>
      <hr>
    	{% for podcast in podcasts %}
      {% if podcast.get_model_type == 'podcast' %}
      <div class="row">
        <!-- Upvote/Downvote Column -->
        <div class="col-md-1 vote-col">
          <div class="vote-group">
              <a href="/upvote/{{ podcast.id }}/{{ username }}" class="vote-arrow"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
              <h3 style="margin-bottom: 0px;">
                {{podcast.num_upvotes}} 
              </h3>
              <a href="/downvote/{{ podcast.id }}/{{ username }}" class="vote-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- Card Column -->
        <div class="col-md-11">
      		<div class="card mb-4">
      			<div class="card-header text-muted">
      				Posted on {{ podcast.created.date }} in
      				<a href="/topic/{{ podcast.topic.topic }}">{{ podcast.topic.topic }}</a>
      			</div>
      			<div class="card-body">
      				<h2 class="card-title">{{ podcast.title }}</h2>
      				<p class="card-text">
      					{% if podcast.description %}
      						{{ podcast.description | slice:":125" }}
      						{% if podcast.description|length > 125 %}
      							...
      						{% endif %}
      					{% endif %}
              </p>
      				<a href="/podcast/{{podcast.slugfield}}/" class="btn btn-secondary">Listen Now</a>
      			</div><!--/.card-body-->
      			<div class="card-footer text-muted">
      				{{ podcast.views }} views |
      				{{ podcast.num_upvotes }} upvotes |
      				{{ podcast.num_comments }} comments |
      				{{ podcast.num_favorites }} favorites
      			</div><!--/.card-footer-->
      		</div><!--/.card-->
        </div>
      </div><!--/.row-->
      {% endif %}
    	{% endfor %}
    </div>
    <div class="col-sm-6">
      <h4>Subscriptions</h4>
      <hr>
      <h5 align="center">Users</h5>
      {% for sub in podcasts %}
        {% if sub.get_model_type == 'creatorsubscription' %}
          <center>
          <a href="/user/{{ sub.creator }}">{{ sub.creator }}</a>
          </center>
        {% endif %}
      {% endfor %}
      <br>
      <h5 align="center">Topics</h5>
      {% for sub in podcasts %}
        {% if sub.get_model_type == 'topicsubscription' %}
          <center>
          <a href="/topic/{{ sub.pod.topic }}">{{ sub.pod.topic }}</a>
          </center>
        {% endif %}
      {% endfor %}
      {% for podcast in subscriptions %}
      <div class="row">
        <div class="card mb-4">
          <div class="card-header text-muted">
            Posted on {{ podcast.created.date }} in
            <a href="/topic/{{ podcast.topic.topic }}">{{ podcast.topic.topic }}</a>
          </div>
          <div class="card-body">
            <h2 class="card-title">{{ podcast.title }}</h2>
            <p class="card-text">
              {% if podcast.description %}
                {{ podcast.description | slice:":125" }}
                {% if podcast.description|length > 125 %}
                  ...
                {% endif %}
              {% endif %}
            </p>
            <a href="/podcast/{{podcast.slugfield}}/" class="btn btn-secondary">Listen Now</a>
          </div><!--/.card-body-->
          <div class="card-footer text-muted">
            {{ podcast.views }} views |
            {{ podcast.num_upvotes }} upvotes |
            {{ podcast.num_comments }} comments |
            {{ podcast.num_favorites }} favorites
          </div><!--/.card-footer-->
        </div><!--/.card-->
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
